body{
    text-align: center;
    background-color: aquamarine;
}

button
{
    text:20px;
    background-color: red;
    border-radius: 200px;
    text-size-adjust: 10px;
}

p{background-color: seagreen;}
span{background-color: steelblue;}
h1{background-color: aqua;}